{% load static %}
<!doctype html>
<html lang="en">

    <head>
        
        <meta charset="utf-8" />
        <title>ALS Outstation</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta content="Premium Multipurpose Admin & Dashboard Template" name="description" />
        <meta content="Themesdesign" name="author" />
       
        <!-- App favicon -->
        <link rel="shortcut icon" href="{% static '/images/favicon.ico' %}">

        
        <!-- Bootstrap Css -->
        <link href="{% static '/assets/css/bootstrap.min.css' %}" id="bootstrap-style" rel="stylesheet" type="text/css" />
        <!-- Icons Css -->
        <link href="{% static '/assets/css/icons.min.css' %}" rel="stylesheet" type="text/css" />
        <!-- App Css-->
        <link href="{% static '/assets/css/app.min.css' %}" id="app-style" rel="stylesheet" type="text/css" />

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
      



    </head>

    <body data-topbar="dark">
    
          <!-- Start Containerbar -->
          {% block content %}
          {% endblock %}
          <!-- End Containerbar -->

    
    </body>

</html>