{% load static %}

<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex">
            <!-- LOGO -->
            <div class="navbar-brand-box">
                <a href="{% url 'index' %}" class="logo logo-dark">
                    <span class="logo-sm">
                        <img src="{% static '/images/logo-sm.png' %}" alt="logo-sm" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="{% static '/images/logo-dark.png' %}" alt="logo-dark" height="20">
                    </span>
                </a>

                <a href="{% url 'index' %}" class="logo logo-light">
                    <span class="logo-sm">
                        <img src="{% static '/images/logo-sm.png' %}" alt="logo-sm-light" height="22">
                    </span>
                    <span class="logo-lg">
                        <img src="{% static '/images/logo-light.png' %}" alt="logo-light" height="20">
                    </span>
                </a>
            </div>

        </div>

        <div class="d-flex">

            <div class="dropdown d-inline-block d-lg-none ms-2">
                <button type="button" class="btn header-item noti-icon waves-effect" id="page-header-search-dropdown"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="ri-search-line"></i>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                    aria-labelledby="page-header-search-dropdown">
        
                    <form class="p-3">
                        <div class="mb-3 m-0">
                            <div class="input-group">
                                <input type="text" class="form-control" placeholder="Search ...">
                                <div class="input-group-append">
                                    <button class="btn btn-primary" type="submit"><i class="ri-search-line"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="dropdown d-none d-sm-inline-block">
                <button type="button" class="btn header-item waves-effect"
                    data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="" src="{% static '/images/flags/us.jpg' %}" alt="Header Language" height="16">
                </button>
                <!-- <div class="dropdown-menu dropdown-menu-end"> -->
        
                    <!-- item-->
                   <!--  <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="{% static '/images/flags/spain.jpg' %}" alt="user-image" class="me-1" height="12"> <span class="align-middle">Spanish</span>
                    </a> -->

                    <!-- item-->
                    <!-- <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="{% static '/images/flags/germany.jpg' %}" alt="user-image" class="me-1" height="12"> <span class="align-middle">German</span>
                    </a> -->

                    <!-- item-->
                   <!--  <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="{% static '/images/flags/italy.jpg' %}" alt="user-image" class="me-1" height="12"> <span class="align-middle">Italian</span>
                    </a> -->

                    <!-- item-->
                   <!--  <a href="javascript:void(0);" class="dropdown-item notify-item">
                        <img src="{% static '/images/flags/russia.jpg' %}" alt="user-image" class="me-1" height="12"> <span class="align-middle">Russian</span>
                    </a> -->
                <!-- </div> -->
            </div>
        </div>
    </div>
</header>