{% extends "als_base.html" %}

{% block content %}

{% load static%}

 <!-- <body data-layout="horizontal" data-topbar="dark"> -->

        <!-- Begin page -->
        <div id="layout-wrapper">

            
            <!-- Header-->
            {% include "partials/als_header.html" %}

            <!-- ========== Left Sidebar Start ========== -->
            {% include "partials/als_left_sidebar.html" %}
            <!-- Left Sidebar End -->


            <!-- ============================================================== -->
            <!-- Start right Content here -->
            <!-- ============================================================== -->
            <div class="main-content">
                <div class="page-content">
                    <div class="container-fluid">

                         <!-- start page title -->
                         {% include "partials/als_page_title.html" %}
                        <!-- end page title -->

                        <div class="row">
                            <div class="col-xl-12">
                                <div class="card">
                                    <div class="card-body">
                                        <!-- <h4 class="card-title">Validation type</h4>
                                        <p class="card-title-desc">Parsley is a javascript form validation
                                            library. It helps you provide your users with feedback on their form
                                            submission before sending it to your server.</p> -->

                                            {% include 'partials/als_messages.html' %} 
                                            
                                      

                                        <form class="needs-validation" novalidate action="" method="POST"  enctype="multipart/form-data">
                                            {% csrf_token %}
                                            <div class="row">

                                                <div class="mb-3">
                                                
                                                    <label  for="validationCustom03" class="form-label">Station</label>
                                                    <select class="form-control select2" id="validationCustom03" name="station" required>
                                                        <option value="" selected disabled>Choose...</option>
                                                        <optgroup label="AVAILABLE STATION">

                                                            {% for s in stations %}
                                                            <option name="category" value="{{s.id}}">{{s.name}}</option>
                                    
                                                            {% endfor  %}

                                            
                                                        </optgroup>
                                                       
                                                    </select>

                                                    <div class="invalid-tooltip">
                                                        Please select a station
                                                    </div>
                                                </div>
                                              
                                                <div class="mb-3">
                                                    <div class="mb-3 position-relative">
                                                        <label for="validationTooltip01" class="form-label">Expense Name</label>
                                                        <input type="text" class="form-control" id="validationTooltip01"
                                                            placeholder="Expense Name" value="{{ values.description }}" name="expense_name" required>
                                                            <div class="invalid-tooltip">
                                                                Please provide a name
                                                            </div>
                                                    </div>
                                                </div>

                                                <div class="mb-3">
                                                    <div class="mb-3 position-relative">
                                                        <label for="validationTooltip01" class="form-label">Description</label>
                                                        <input type="text" class="form-control" id="validationTooltip01"
                                                            placeholder="Description" value="{{ values.description }}" name="description" required>
                                                            <div class="invalid-tooltip">
                                                                Please provide a description
                                                            </div>
                                                    </div>
                                                </div>

                                                <div class="mb-3">
                                                    <div class="mb-3 position-relative">
                                                    <label for="validationTooltip01" class="form-label">Date</label>
                                                    <div class="input-group" id="datepicker2">
                                                        <input type="datetime-local" class="form-control"  id="validationTooltip01 example-datetime-local-input"
                                                              value="{{ values.date }}" name="expense_date" required>
                                                        <div class="invalid-tooltip">
                                                            Please provide a date
                                                        </div>
                                                    </div><!-- input-group -->
                                                    </div>
                                                </div>

                                                <div class="mb-3">
                                                    <div class="mb-3 position-relative">
                                                    <label for="validationTooltip01" class="form-label">Reciept</label>
                                                    <div class="input-group">
                                                        <input type="file" name="reciept" class="form-control" id="customFile" required>

                                                        <div class="invalid-tooltip">
                                                            Please upload a reciept
                                                        </div>
                                                    </div>
                                                    </div>
                                                </div>

                

                                                <div class="mb-3">
                                                    <div class="mb-3 position-relative">
                                                        <label for="validationTooltipUsername" class="form-label">Amount</label>
                                                        <div class="input-group">
                                                            <div class="input-group-prepend">
                                                                <span class="input-group-text"
                                                                    id="validationTooltipUsernamePrepend">KES</span>
                                                            </div>
                                                            <input type="number" class="form-control" id="validationTooltipUsername"
                                                                placeholder="0.00" min="1"
                                                                aria-describedby="validationTooltipUsernamePrepend"  name="amount" value="{{ values.amount }}" required>
                                                            <div class="invalid-tooltip">
                                                                Please provide an amount.
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                           
                                            <div class="mb-0">
                                                <div>
                                                    <button type="submit" class="btn btn-success waves-effect waves-light">
                                                        <i class="ri-check-line align-middle me-2"></i> Submit
                                                    </button>
                                                    
                                                    <a href="{% url 'expense' %}">
                                                   
                                                        <button type="button" class="btn btn-warning waves-effect waves-light">
                                                            <i class="ri-error-warning-line align-middle me-2"></i> Cancel
                                                        </button>
                                                     
                                                    </a>
                                                </div>

                                            </div>
                                        </form>                                   
        
                                    </div>
                                </div>
                            </div> <!-- end col -->
                        <!-- end row -->
                    </div>
                  </div>  
            </div>
        
        </div>
        <!-- END layout-wrapper -->

{% endblock %}